*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain light";

}
html,body{
    height: 100%;
    width: 100%;
}
#crsr{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 1px solid #ffffffaf;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    z-index: 999;
    padding: 25vh 10vw;

}
#line{
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line1-part1{
display: flex;
align-items: center;
justify-content: center;
gap: 1vw;
}
.line1-part1 h5,.line1-part1 h6{
font-size: 4vw;
font-family: "silk serif";
font-weight: 100;
}
.line1-part1 h5{
    width: 6vw;
    text-align: right;
}
#line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;

}
#line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
    animation:anime 1s linear infinite;


    

}
@keyframes anime {
    0%{
        font-family: "plain light";
        opacity: 1;
        -webkit-text-stroke: 1px #FFF;
        
    }
    45%{
        font-family: "plain light";
        opacity: 0;
        -webkit-text-stroke: 1px #FFF;
       

    }
    56%{
        font-family: "silk serif";
        opacity: 1;
        -webkit-text-stroke: 1px #FFF;
        color: transparent;


        
    }
    100%{
        font-family: "silk serif";
        opacity: 0;
        -webkit-text-stroke: 1px #FFF;
        color: transparent;

    }
}
#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;

}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 6.5vw;
}
#page1 #nav-part2{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2vw;
    font-weight: 500;
}
#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 500;
}

.hero{
    width: 72%;
    height: fit-content;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;

}
#hero3 .h2:hover{
    -webkit-text-stroke: 1.5px #fff;
    color: transparent;
    font-weight: 500;
}